<h2>Edit OH</h2>

<%= form_tag office_hour_path(@oh), :method => :put do %>
  <!-- If we want the edit form prefilled with database values, we need javascript apparently -->
  <%= text_field :office_hour, :host, placeholder: "Host name", :class => 'col-form-control' %>
  <%= text_field :office_hour, :class_name, placeholder: "Class name", :class => 'col-form-control' %>
  <%= datetime_local_field :office_hour, :time, :class => 'col-form-control' %>
  <%= text_field :office_hour, :zoom_info, placeholder: "Zoom link", :class => 'col-form-control'%>
  <%= hidden_field :office_hour, :email, value: current_user.email %>
  <br/>
  <%= submit_tag 'Save Changes', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', office_hours_path(@oh), :class => 'btn btn-secondary' %>
<% end %>
