<h2>All Office Hours</h2>
<div id="search-box" class="row">
  <div id="inner-search-box">
    <%= form_tag office_hours_path, method: :get, id: 'search_form' do %>
    <span id='search-text'>
      Search for TA or OH:
      <%= text_field :search, :search, value: params[:search].nil? ? "" : params[:search][:search], :class => 'col-form-control', :required => true, :placeholder => "Host/Class Name" %>
    </span>
    <span id='search-btns'>
      <%= submit_tag 'Search', id: 'search_submit', class: 'btn btn-primary index-btn ' %>
      <%= link_to "Clear search", office_hours_path, :class => 'btn btn-primary index-btn' %>
    </span>
    <% end %>
  </div>
</div>
<table class="table table-striped col-md-12" id="office_hours">
  <thead>
    <tr>
      <th class='<%= @tclass%>'><%= link_to "Host", office_hours_path(request.parameters.merge({:asc => :host})), class: @tclass, id: "host_header" %></th>
      <th class='<%= @rdclass%>'><%= link_to "Class Name", office_hours_path(request.parameters.merge({:asc => :class_name})), class: @rdclass, id: "class_name_header" %></th>
      <th class='<%= @fugclass%>'><%= link_to "When", office_hours_path(request.parameters.merge({:asc => :starts_on})), class: @fugclass, id: "time_header" %></th>
      <th>More Info</th>
    </tr>
  </thead>
  
  <tbody>
    <% @ohs.each do |oh| %>
      <tr>
        <td><%= oh.host %></td>
        <td><%= oh.class_name %></td>
        <td><%= oh.starts_on.strftime("%m/%d/%Y %I:%M%p") %></td>
        <td>
          <%= link_to "See more", office_hour_path(oh) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if user_signed_in? %>
<%= link_to 'Add new OH', new_office_hour_path, :class => 'btn btn-primary' %>
<% end %>
